body{
    background-color: blue;
}
h1{
    color: #000;
    font-size: 22px;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
}
.forma{
    text-align: justify;
    font-size: 13px;
}
.formazas{
    text-align: justify;
    font-size: 13px;
    color: aquamarine;
}